body {
    background-color: black;
    font-family: "El Messiri", sans-serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    height: 100%;
    overflow: hidden;
}


header {
    /* background-color: bisque; */
    background-image: url(./images/antique-brown-paper-texture\ \(1\).jpg);
    background-size: cover;
    
    box-shadow: 0 50vh 0 50vh #000;

   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    letter-spacing: 1cap;
    line-height: 50%;

    overflow: hidden;
    min-height: 100%;
    width: auto;
    /* margin: 40px; */
    
    padding: 30px;
    border-bottom: 3px goldenrod double;
    ;
}

#gameTitle {
    background-color: black;
    background-image: url(./images/title\ bg.jpg);
    background-attachment: relative;
    background-position-y: 20%;
    /* background-size: cover; */
    color: black;
    width: 600px;
    height: 110px;
    border: 3px goldenrod double;
   
}

section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60%;
}

h4 {
    text-align: center;
}

ul, li {
    margin:0;
    padding:0;
    list-style: none;
    text-align: center;
}

#characterInfo {
    background-image: url(./images/cardbg.png);
    background-size: cover;
   
    color: azure;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    
    height: 640px;
    width: 440px;
    /* border-radius: 20px;
    border: 3px goldenrod double; */
    
}

#imgContainerChar {
    background-image: url(./images/human.jpeg);
    background-size: cover;
    visibility: hidden;
    width: 168px;
    height: 270px;
    background-color: gray;
    border: 3px goldenrod double;
    border-radius: 10px;
    margin-top: 40px;

}

/* #charStats {
    visibility: hidden;
} */

main {
    /* background-color: cadetblue; */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 600px;
    height: 750px;
}

#storyContainer {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#storyReaction {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 3px goldenrod double;
    background-image: linear-gradient(to bottom right, rgb(93, 38, 38), rgb(194, 191, 156) );
    text-align: center;
    width: 400px;
    height: 100px;
}

#imgContainerStory {
    background-image: url(./images/storybook.jpg);
    background-size: cover;
    border: 3px goldenrod double;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 420px;
    height: 240px;
    padding: 20px;
    margin: 20px 0 20px 0;
}

#storyPrompt{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    border: 3px goldenrod double;
    background-image: linear-gradient(to bottom right, rgb(93, 38, 38), rgb(194, 191, 156) );
    text-align: center;
    width: 400px;
    height: 100px;
 
}

/* #nameInput {
    visibility: hidden;
} */

#storyChoice{
    /* background-color: aliceblue; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 450px;
    padding-bottom: 20px;
    
}

.choice1 {
    border: 3px goldenrod double;
    background-image: linear-gradient(to bottom right, rgb(93, 38, 38), rgb(194, 191, 156) );
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    line-height: 15px;
    width: 120px;
    height: 80px;
    cursor: pointer;
}

.choice2 {
    border: 3px goldenrod double;
    background-image: linear-gradient(to bottom right, rgb(93, 38, 38), rgb(194, 191, 156) );
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    line-height: 15px;
    width: 100px;
    height: 80px;
    cursor: pointer;
}

.choice3 {
    border: 3px goldenrod double;
    background-image: linear-gradient(to bottom right, rgb(93, 38, 38), rgb(194, 191, 156) );
    visibility: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 15px;
    line-height: 15px;
    width: 100px;
    height: 80px;
    cursor: pointer;
}

#EnemyInfo {
    background-image: url(./images/cardbg.png);
    background-size: cover;
    color: azure;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    height: 640px;
    width: 440px; 
}

#imgContainerEnemy {
    background-image: url();
    background-size: cover;
    visibility: hidden;
    width: 168px;
    height: 270px;
    background-color: gray;
    border: 3px goldenrod double;
    border-radius: 10px;
    margin-top: 40px;
}

/* #enemyStats {
    visibility: hidden;
} */



footer {
    /* background-color: aquamarine; */
    background-image: url(./images/antique-brown-paper-texture\ \(1\).jpg);
    background-size: cover;
    background-position: bottom;
    box-shadow: 0 50vh 0 50vh #000;
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    
    padding: 30px;
    border-top: 3px goldenrod double;
}

audio {
    border: 3px goldenrod double;
    border-radius: 50px;
    margin-top: 20px;
}